<!DOCTYPE HTML>
<html lang="ru-RU">
  <head>
    <title>PPE</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>PPE</h1>
    <div id="content">
      <%== yield %>
    </div>
  </body>
</html>
